nav {
    background-color: #D7719B;
    height: 60px;
    font-size: 24px;
  }
  .navigation-area {
    float: right;
    height: 60px;
  }
  .navigation-area a {
    display: block;
    width: 100px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
    transition: background-color 0.3s ease;
  }
  .navigation-area a:hover {
    background-color: orange;
  }
  